* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color:  #0c3044;
    --second-bg-color: #0095f7;
    --border-color: #0095f7;

    --acerto-color: #00ab69ff;
    --erro-color: #e81300ff;
    --box-shadow-color: rgba(0, 0, 0, 0.212);
    
    --branquinho-color:#ffff;
    --branco-color: #fff;
    --preto-color: black;
}
.dark-mode {
    --bg-color: #222222; /* Nova cor de fundo para o modo escuro */
    --second-bg-color: #0095f7; /* Nova segunda cor de fundo para o modo escuro */
    --border-color: #182fc2; /* Nova cor da borda para o modo escuro */
    --acerto-color: #00ab69ff; /* Mantendo a mesma cor para o acerto */
    --erro-color: #e81300ff; /* Mantendo a mesma cor para o erro */
    --box-shadow-color: rgba(255, 255, 255, 0.212); /* Nova cor da sombra para o modo escuro */
    --branquinho-color:#ffff;
    --branco-color: #353333; /* Nova cor branca para o modo escuro */
    --preto-color: #fff; /* Nova cor preta para o modo escuro */
    
   background-color: black;
}
.darkzaodecria input {
    display: none;
  }
  
  .display {
      width: 100%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
  
  .darkzaodecria label {
      width: 200px;
      height: 30px;
      border-radius: 999px;
      background: #F3F3F3;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
      cursor: pointer;
      position: relative;
  }
  
  .darkzaodecria .circle {
      width: 24px;
      height: 24px;
      border-radius: 99px;
      background: white;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
      -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(10%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
  .darkzaodecria svg {
      width: 14px;
      position: absolute;
  }
  .sun {
      color: #FFD600;
      margin-top: 0%;
      opacity: 1;
  }
  .moon {
      margin-top: -150%;
      color: white;
      opacity: 0;
  }
  
  
  input[type=checkbox]:checked + .display label {
      background: #1F1F21;
      
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
  }
  input[type=checkbox]:checked + .display label .circle {
      left: 100%;
      transition: 0.3s ease-in;
      transform: translate(-110%, -50%);
      background: #2C2C2F;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
      -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
  }
  input[type=checkbox]:checked + .display label .circle .sun {
      margin-top: 150%;
      opacity: 0;
  }
  input[type=checkbox]:checked + .display label .circle .moon {
      margin-top: 0%;
      opacity: 1;
  }
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.logo {
    user-select: none;
    color: var(--preto-color);
    font-weight: 600;
    font-size: 2.5rem;
}

span {
    color: #0095f7;
}


aside {
    background: var(--branco-color);
    width: 250px;
    height: 100vh;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15); /* Suaviza a sombra */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    position: fixed;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.head .logo img {
    width: 30px;
}

.head .logo .logo-title span {
    color: #0c3044;
    font-weight: 600; /* Torna o texto do logo mais destacado */
}

.head .bx-menu {
    font-size: 35px; /* Reduz o tamanho do ícone do menu */
    cursor: pointer;
}


.nav {
    border-top: solid #f2f2f2;
    margin-top: 15px;
    padding-top: 10px;
    flex: 1;
}

aside:not(aside.close) .nav {
    overflow-y: auto;
}

.nav::-webkit-scrollbar {
    width: 0;
}

.menu {
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
    justify-content: space-between;
}
.menu:hover {
    background: #e6e6e6; /* Suaviza a cor de fundo ao passar o mouse */
    color: black;
}


.menu i {
    font-size: 20px;
    margin-right: 5px;
    color: black; /* Reduz o tamanho do ícone do menu */
}

.menu span {
    font-weight: 600;
    font-size: 17px;
    flex: 1;
}

.foot {
    padding-top: 20px;
    border-top: solid #f2f2f2;
}

.profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%; /* Torna a imagem do perfil redonda */
}


.profile .info {
    display: flex;
    flex-direction: column;
}

.profile .info .name {
    font-weight: 600;
    white-space: nowrap;
}

.foot .menu-logout {
    color: red;
    background: #f2f2f2;
    margin-top: 15px;
}

.foot .menu-logout:hover {
    background: #ffe3e3;
    color: red;
}

aside.close {
    width: 100px;
}

aside.close .logo {
    display: none;
}

aside.close .bx-menu {
    width: 100%;
    text-align: center;
}

aside.close .menu span {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-left: 70px;
    font-size: 16px;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

aside.close .menu i:nth-child(1) {
    width: 100%;
    text-align: center;
}

aside.close .menu i:nth-child(3) {
    display: none;
}

aside.close .menu:hover span {
    margin-left: 60px;
    opacity: 1;
}

.nav .menu.active {
    background: var(--bg-color);
    color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu i:nth-child(3) {
    transition: 0.3s;
}

.menu.active i:nth-child(3) {
    transform: rotate(180deg);
}
.menu.active i{
    color: #fff;
}

aside.close .menu-dropdown {
    position: relative;
}

aside.close .menu-dropdown .sub-menu {
    position: absolute;
    background: white;
    padding-left: 0;
    margin-left: 90px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    top: -55px;
    z-index: 2;
}

.menu-dropdown .sub-menu {
    display: none;
    padding-left: 45px;
}

.sub-menu .menu {
    font-size: 14px;
}

aside.close .profile {
    display: flex;
    justify-content: center;
}

aside.close .profile .info {
    display: none;
}

.menu a {
    color: #0099ff;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.opnen{
    background: transparent;
    border: none;
    color: var(--preto-color);
   
}

.popup p {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.popup-content {
    background-color: var(--second-bg-color);
 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 0.2rem rgb(255, 255, 255);
    padding-top: 40px;
}
.fecha .bx{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    
 
  }
  .btnlogout{
    background: #40aa5b;
    color: #fff;
    width: 150px;
    position: absolute;
  
    height: 30px;
  
    border-radius: 5px;
 
    border: none;

    cursor: pointer;
    box-shadow: 0 0 0.5rem rgb(255, 255, 255);
 
    display: block;
 
  }
  .popup button:hover{
    transform: scale(1.2);
    transition: ease-in 0.5s;
  }
  .bai{
    background: #ca2a2a;
    color: #fff;
    width: 150px;
 
    height: 30px;
    border-radius: 5px;
    border: none;
   

    
    display: block;
    margin-left: 190px;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgb(255, 255, 255);
 
  }



  .container {
    background-color: var(--branco-color);
    border-radius: 15px;
    margin: 0 auto 2rem;/* Centraliza o container */
    padding: 4rem;
    max-width: 1200px;
    border: 3px solid var(--border-color);
    height: calc(100% - 4rem); /* Subtrai a margem do topo e do fundo */
    font-size: 1.5rem;
    box-sizing: border-box; /* Inclui padding e border no tamanho do elemento */
    overflow: auto; /* Adicionado para lidar com o conteúdo excedente */
}

.questao, .opcao {
    background-color: var(--branco-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px var(--border-color);
    color: var(--preto-color);
}

.opcao {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Suaviza a transformação */
}

.opcao:hover {
    transform: scale(1.05);
    background-color: var(--preto-color);
    color: var(--branco-color);
}

li {
    list-style: none;
}

.opcao input[type="radio"] {
    margin-right: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 15px; /* Centraliza a imagem */
    display: block;
}

input[type="submit"] {
    background-color: #45A29E;
    color: white;
    padding: 12px 18px;
    margin: 2rem auto; /* Margens automáticas para centralizar */
    border: none;
    cursor: pointer;
    width: 50%; /* Ajuste a largura conforme necessário */
    border-radius: 8px;
    margin-left: 20%;
    border: 1px solid #66FCF1;
    transition: all 0.3s ease; /* Suaviza todas as transformações */
}


input[type="submit"]:hover {
    transform: scale(1.05);
    background-color: #66FCF1;
    color: #0B0C10;
}
#timer {
    position: fixed; /* Fixa o elemento na tela */
    right: 30px; /* Alinha o elemento à direita */
    top: 50%; /* Posiciona no meio da tela verticalmente */
    transform: translateY(-50%); /* Centraliza o elemento verticalmente */
    background: #fff; /* Define a cor de fundo para branco */
    padding: 10px 20px; /* Adiciona um espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Arredonda os cantos do botão */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 1rem; /* Define o tamanho da fonte */
    color: #333; /* Define a cor do texto */
  }
  
  /* Estilização para quando o mouse passa sobre o botão */
  #timer:hover {
    background-color: #e7e7e7; /* Muda a cor de fundo ao passar o mouse */
  }
  
.start-btn{
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.pause-btn{
    background-color: grey;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;

}

.stop-btn{
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;

    
}
.relogio{
    background: #fff;
    min-width: 50vw
}

@media (max-width: 768px) {
    .container {
        padding: 2rem;
        font-size: 1rem;
    }

    .questao, .opcao {
        padding: 10px;
        margin-bottom: 10px;
    }

    .opcao {
        padding: 5px;
        margin-bottom: 5px;
    }

    img {
        margin: 0 auto 10px; /* Centraliza a imagem */
    }

    input[type="submit"] {
        padding: 7px 10px;
        margin: 0 auto 10px; /* Centraliza o botão */
        width: 100%;
    }
}






